<fnd-workspace-wrapper
    [rows]="rows"
    [columns]="columns"
    [areas]="areas"
    [theme]="current_theme"
>
    <fnd-workspace-zone
        role="header"
        border="bottom"
        direction="row"
        theme="blue"
    >
        <fnd-navigation></fnd-navigation>
    </fnd-workspace-zone>
    <fnd-workspace-zone
        role="shortcuts"
        border="bottom"
        direction="row"
    >
        Shortcut icons row
    </fnd-workspace-zone>
    <fnd-workspace-zone
        role="sidebar"
        border="right"
        [ngStyle]="{ 'padding': '10px' }"
        [resizers]="['right']"
    >
        <h1>Sidebar</h1>
        <fnd-accordion>
            <fnd-accordion-item>
                <fnd-tree></fnd-tree>
            </fnd-accordion-item>
        </fnd-accordion>
    </fnd-workspace-zone>
    <fnd-workspace-zone
        role="tabs"
        border="bottom"
        direction="row"
    >
        <fnd-tabs></fnd-tabs>
    </fnd-workspace-zone>
    <fnd-workspace-zone
        role="main"
        [ngStyle]="{ 'padding': '10px' }"
    >
        <h1>Main workspace</h1>
        <p>
            Lorem ipsum dolor sit amet, ea qui tritani interesset, sale probo omittantur id mei, choro nemore ei est. His ex noster scaevola incorrupte. Nec an exerci utamur impetus, quo altera epicurei eu. Quaeque qualisque eu eam, sapientem persequeris suscipiantur cu sea. Ad option appellantur mei, mentitum interesset vim cu, an nam unum erant aeque.
        </p>
        <p>
            Лорем ипсум долор сит амет, ессент фастидии рецтеяуе ид еос, вих ан деленит цорпора. Ат хас неморе аппетере медиоцритатем, еиус вери волуптатибус те хис. Дуо нобис продессет ан, пробо доценди адиписци вих ин, ин еум темпор нолуиссе. Бонорум интеллегебат цу еос, ид опортеат посидониум елаборарет сеа, еам деленит диссентиас ех. Цум постеа регионе интерпретарис ет, ест ид иудицабит дефиниебас инцоррупте, дуо те дисцере плацерат.
        </p>
    </fnd-workspace-zone>
    <fnd-workspace-zone
        role="more"
        border="top"
        max-height="150px"
        overflow-x="auto"
        overflow-y="auto"
        [ngStyle]="{ 'padding': '10px' }"
        [resizers]="['top']"
    >
        <h1>More stuff below main workspace</h1>
        <label>Choose theme color:</label>
        <select #themeSelector (change)="setTheme(themeSelector.value)">
            <option [value]="theme" *ngFor="let theme of themes" [selected]="theme === current_theme">{{ theme }}</option>
        </select>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sit, eaque atque voluptate nihil unde soluta aperiam quos quae voluptas tenetur id magni enim alias repellendus cupiditate, dolor nulla ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sit, eaque atque voluptate nihil unde soluta aperiam quos quae voluptas tenetur id magni enim alias repellendus cupiditate, dolor nulla ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sit, eaque atque voluptate nihil unde soluta aperiam quos quae voluptas tenetur id magni enim alias repellendus cupiditate, dolor nulla ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sit, eaque atque voluptate nihil unde soluta aperiam quos quae voluptas tenetur id magni enim alias repellendus cupiditate, dolor nulla ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sit, eaque atque voluptate nihil unde soluta aperiam quos quae voluptas tenetur id magni enim alias repellendus cupiditate, dolor nulla ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sit, eaque atque voluptate nihil unde soluta aperiam quos quae voluptas tenetur id magni enim alias repellendus cupiditate, dolor nulla ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sit, eaque atque voluptate nihil unde soluta aperiam quos quae voluptas tenetur id magni enim alias repellendus cupiditate, dolor nulla ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sit, eaque atque voluptate nihil unde soluta aperiam quos quae voluptas tenetur id magni enim alias repellendus cupiditate, dolor nulla ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sit, eaque atque voluptate nihil unde soluta aperiam quos quae voluptas tenetur id magni enim alias repellendus cupiditate, dolor nulla ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sit, eaque atque voluptate nihil unde soluta aperiam quos quae voluptas tenetur id magni enim alias repellendus cupiditate, dolor nulla ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sit, eaque atque voluptate nihil unde soluta aperiam quos quae voluptas tenetur id magni enim alias repellendus cupiditate, dolor nulla ducimus.</p>
        <p>more</p>
    ></fnd-workspace-zone>
    <fnd-workspace-zone
        role="aside"
        border="left"
        [resizers]="['left']"
    >
        <fnd-list>
            <fnd-list-item>
                <fnd-icon>
                    <mat-icon svgIcon="android"></mat-icon>
                </fnd-icon>
                <fnd-item-content>
                    <h5>List item 1</h5>
                    <h6>Subtitle of list item 1</h6>
                </fnd-item-content>
            </fnd-list-item>
            <fnd-list-item>
                <fnd-icon>
                    <mat-icon svgIcon="android"></mat-icon>
                </fnd-icon>
                <fnd-item-content>
                    <h5>List item 2</h5>
                    <h6>Subtitle of list item 2</h6>
                </fnd-item-content>
            </fnd-list-item>
            <fnd-list-item>
                <fnd-icon>
                    <mat-icon svgIcon="android"></mat-icon>
                </fnd-icon>
                <fnd-item-content>
                    <h5>List item 3</h5>
                    <h6>Subtitle of list item 3</h6>
                </fnd-item-content>
            </fnd-list-item>
        </fnd-list>
    </fnd-workspace-zone>
    <fnd-workspace-zone
        role="footer"
        border="top"
        direction="row"
        theme="blue"
    >Footer</fnd-workspace-zone>
</fnd-workspace-wrapper>
