/* You can add global styles to this file, and also import other style files */

// @import '~foundry-sdk/scss/foundry-sdk';
@import '../projects/foundry-sdk/src/lib/scss/tools.scss';
@import '../projects/foundry-sdk/src/lib/scss/foundry-sdk-core.scss';
@import '../projects/foundry-sdk/src/lib/scss/foundry-sdk-themes.scss';

body {
    font-family: 'Liberation Mono', monospace;
    font-size: 10pt;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h7,
    p {
        margin: 0;
        margin-bottom: 0.5rem;
        padding: 0;
    }

    button.mat-menu-item {
        line-height: 24px !important;
    }

    a.mat-menu-item>mat-icon {
        margin-bottom: 14px;
    }

    .mat-icon svg {
        height: 24px;
        width: 24px;
    }
}

$colors: (
    'dark-pink': (
        'inverted': true,
        'color': #333,
        'contrast': #ddd,
        'accent': #ff71f3
    ),
    'light-lime': (
        'inverted': false,
        'color': #f0f0f0,
        'contrast': #333333,
        'accent': #9eff71
    ),
    'orange': (
        'color': #f7a354,
        'contrast': #333333
    ),
    'blue': (
        'color': #2961c7,
        'contrast': #cccccc
    ),
    'red': (
        'color': #ce4444,
        'contrast': #cccccc
    ),
    'green': (
        'color': #28c765,
        'contrast': #333333
    ),
);

:root {
    @include setMultipleColors($colors);

    @include setColorScheme($name: 'pink', $color: #ff71f3, $contrast: #333333);
    @include setColorScheme($name: 'lime', $color: #9eff71);
}

@each $color_name, $color_values in $colors {
    @include createTheme($color_name);

    @include createTheme('pink');
    @include createTheme('lime');
}

// body {
//     &::-webkit-scrollbar,
//     *::-webkit-scrollbar {
//         width: 10px;
//         background-color: var(--scrollbar-color);
//     }

//     &::-webkit-scrollbar-thumb,
//     *::-webkit-scrollbar-thumb {
//         background-color: var(--scrollbar-thumb-color);
//     }

//     &::-webkit-scrollbar-thumb:hover,
//     *::-webkit-scrollbar-thumb:hover {
//         background-color: var(--scrollbar-thumb-hover-color);
//     }

//     &::-webkit-scrollbar-thumb:active,
//     *::-webkit-scrollbar-thumb:active {
//         background-color: var(--scrollbar-thumb-active-color);
//     }

//     // &::-webkit-scrollbar-corner,
//     // *::-webkit-scrollbar-corner {
//     //     /* 6 */
//     // }

//     // &::-webkit-resizer,
//     // *::-webkit-resizer {
//     //     /* 7 */
//     // }
// }

fnd-workspace-zone[role="header"],
fnd-workspace-zone[role="tabs"],
fnd-workspace-zone[role="footer"] {
    align-items: center;
}
